$quote_text_color : $grey;
$blockquote-margin-gap :10px !default;
$blockquote-padding-gap : 10px !default;
.blockquote{

  margin-bottom: $blockquote-margin-gap;
  padding: $blockquote-padding-gap;
  line-height: $body-line-height;
  border-left: 5px solid $primary;
  border-radius: 0 $radius $radius 0;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    $color-lightning: max(100% - lightness($color) - 2%, 0%);
    $color-light: lighten($color, $color-lightning);

    &.is-#{$name} {
      border-color: $color;
      color: $quote_text_color;
      background:$color-light;

      &:hover,
      &.is-hovered {
        border-color:  bulmaDarken($color , 8%);
        color: bulmaDarken($quote_text_color , 18%);
      }
    }
  }

}
