$icon-dimensions: 2.75rem !default;
$icon-size: 1.8rem !default;
$icon-text-line-height: 2.75rem !default;
.bra-icon{
  line-height: 2.5em;
  text-align:center;
}
.brafont {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.icon-box {
  .brafont {
    height: $icon-dimensions;
    width: $icon-dimensions;
    font-size: $icon-size;

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);

      &.is-#{$name} {
        background-color: $color;
        color: $color-invert;
        box-shadow: 0 2px 10px $color;
        text-shadow: 1px 1px 1px #808080;
      }
    }
  }
}
